@media (max-width: 880px) {
    .contenitore {
        display: inline;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }
    .charts {
        width: 100%;
        padding: 20px;
    }
    .chart {
        background: rgb(255, 0, 0);
        color: black;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 7px 25px rgba(255, 255, 255, 0.4);
        width: 100%;
    }
}